<%- include("template/cabecera", {tituloWeb: 'error' }) %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <h1><%= titulo %></h1>
    <h1><%= descripcion %></h1>
<%- include("template/footer") %>
