
<%- include("template/cabecera.ejs", {tituloWeb:'Inicio'}) %>
<h1><%= titulo %></h1>
<div class="container-fluid !direction !spacing">
<a class="btn btn-warning btn-sm" href="/usuario">usuarios</a>
<a class="btn btn-warning btn-sm" href="/producto">productos</a>
</div>

<%- include("template/footer.ejs")%>