
<%- include("template/cabecera.ejs", {tituloWeb:'Inicio'}) %>
<h2><%= titulo %></h2>
<div class="container-fluid !direction !spacing">
    <a class="btn btn-warning btn-sm" href="/usuario">usuarios</a>
<a class="btn btn-warning btn-sm" href="/producto">productos</a>

</div>
<link rel="stylesheet" href="/public/css/style.css">

<%- include("template/footer.ejs")%>