<footer class="bg-dark">
    <ul class="nav justify-content-center border-bottom">
     <li><p class="text-center text-muted">Manuel Gamiz Rey © 2021 Company, Inc</p></li>
      
    </ul>
    
  </footer>
<script src="/public/js/jquery-3.3.1.slim.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
</body>
</html>

